/* 这里是全局样式 */
/* html{
    font-size: 14px;
    color: #333;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
} */
body, blockquote, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body{
    background:#fff;color:#333;font-size:14px;
    font-family: 'PingFang SC', 'Microsoft Yahei', sans-serif;
}
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:none; }  
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
input:focus {
outline:none;
}
/* 清除浮动 */
.clearfix:after {
    display: table;
    content: "";
    clear: both;
}
/*全局样式*/
/**超出隐藏**/
.textHide{
    overflow: hidden;
    white-space:nowrap;
}
.textHideEll{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

/*************/



/* 全局滚动条样式控制 */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    /* background-color: @navDeep */
    -webkit-appearance: none;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
/*  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); */
/*  border-radius: 4px; */
/*  background-color: #F5F5F5; */
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    height: 5px;
    border: 1px solid transparent;
    border-top: 0;
    border-bottom: 0;
    -webkit-border-radius: 6px;
    background-color: #ccc;
    background-clip: padding-box;
}


/*
* inco
*/
.icon{
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.icon-arrow{
    width: 10px;
    height: 18px;
}
.icon-error{
    width: 16px;
    height: 16px;
}


.mce-branding.mce-widget.mce-label.mce-flow-layout-item.mce-last{
    display: none;
}
