/**
* footer
**/
.footer{
    width:100%;
    min-height: 311px; 
    background: #282828;
    // margin-top: 30px;
    .footer-main{
       width:@wap;
        margin: 0 auto;
        height: 100%; 
        .footer-nav{
            padding-top: 40px;
            border-bottom:2px solid rgba(59,66,74,1);
            display: flex;
            justify-content: space-between;
            .nav-wrap{
                >div{
                    min-height: 46px;
                    font-size:14px;
                    
                    
                    color: #999;
                    line-height:14px;
                    &:first-child{
                        font-size:16px;
                        font-weight:500;
                        color:rgba(255,255,255,1);
                        line-height:16px;
                    }
                    >font{
                        display: block;
                        font-size:12px;
                        transform: scale(0.83);
                        
                        line-height:14px;
                        text-indent: 3em;
                        margin-top: 5px;
                        color: #666666;
                    }
                }
                .QR-code{
                    display: block;
                    height: 100px;
                    width: 100px;
                    margin-top: 20px;
                }
                &:last-child{
                    // align-items: flex-end;
                    margin-left: 360px;
                    >div{
                        text-align: center;
                        min-height: 18px;
                    }
                }
            }
        }
    }
    .footer-links{
        padding-top:15px;
        display: flex;
        >img{
            width: 40px;
            height: 36px;
            display: block;
            margin-right: 20px;
        }
        >div{
            >div{
                display: flex;
                >a{
                    line-height: 14px;
                    padding: 0 10px;
                    .text-link();
                    border-right:1px solid #666666;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        border-right:none;
                    }
                }
            }
            >font{
                .text-link();
                padding-top: 10px;
                display: block;
            }
        }
    }
    .text-link{
        font-size:12px;
        
        font-weight:500;
        color:rgba(102,102,102,1);
        line-height:12px;
        letter-spacing:1px;
    }
}
/**
* header
**/
#glob-top{
    color:#666;
    background:rgba(255,255,255,1);
    box-shadow:0px 2px 12px 0px rgba(6,67,67,0.1);
    >section{
        width: @wap;
        height:60px;
        display: flex;
        // justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .top-logo{
        width:80px;
        height: 24px;
        .icon{
            width: 100%;
            height: 100%;
        }
    }
    .top-native{
        display: flex;
        flex: 1;
        margin-left: 20px;
        // min-width: 600px;
        >li{
            flex: 1;
            line-height:60px;
            text-align: center;
            a{
                display: block;
                color:#666;
            }
        }
    }
    .top-search{
        display: flex;
        justify-content: center;
        align-items: center;
        >input{
            width: 90px;
            height: 20px;
            margin-right: 6px; 
            background: transparent;
            // border: 1px solid transparent;
            transition: all .3s ease-out;
            border-radius: 30px;
            padding-left: 10px;
            &:focus{
                width: 100px;
                // border-color: #fff; 
            }
        }
        >div{
            display: flex;
            cursor: pointer;
            align-items: center;
            span{
                font-size: 14px;
                margin-left: 6px;
            }
        }
    }
    .behavior{
        display: flex;
        align-items: center;
        margin-left: 20px;
        > p{
            width:86px;
            height:30px;
            line-height: 30px;
            border-radius:15px;
            border:1px solid rgba(255,255,255,1);
            font-size:12px;
            text-align: center;
            cursor: pointer;
        }
        > dl{
            display: flex;
            margin-left: 15px;
            >dt{
                margin-right: 20px;
                position: relative;
                cursor: pointer;
                &::after{
                    content: '/';
                    position: absolute;
                    right: -12px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #666;
                }
                >a{
                    color: #666;
                }
            }
            >dd{
                cursor: pointer;
                >a{
                    color: #666;
                }
            }
        }
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav-notification{
            width: 13px;
            height: 16px;
            margin-right: 27px;
        }
        .nav-mymenu{
            height: 38px;
            cursor: pointer;
            position: relative;
            >img{
                width: 38px;
                height: 38px;
                border-radius: 50%;
            }
            >ul{
                width: 180px;
                padding: 30px 0;
                position: absolute;
                top: 50px;
                right: 0;
                z-index: 9999;
                background:rgba(255,255,255,1);
                box-shadow:0px 4px 16px 0px rgba(3,12,40,0.1);
                border-radius:0px 0px 4px 4px;
                border:1px solid rgba(84,120,235,0.1);
                >li{
                    padding: 0 30px;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    &:hover{
                        background:rgba(84,120,235,0.06);
                    }
                    >a{
                        height: 44px;
                        display: flex;
                        align-items: center;
                    }
                    em{
                        width: 30px;
                    }
                    p{
                        flex: 1;
                        color: #333;
                    }
                }
            }
        }
    }
    .top-create{
        width:86px;
        height:30px;
        line-height: 30px;
        border-radius:15px;
        font-size:12px;
        text-align: center;
        color:rgba(84,120,235,1);
        border:1px solid rgba(84,120,235,0.3);
        margin: 0 30px 0 20px;
        a{
            color:rgba(84,120,235,1);
            // color:rgba(255,255,255,1);
        }
    }
}
